body {
    font-family: 'Raleway', sans-serif;
    padding-top: 2%;
    padding-right: 10%;
    padding-left: 10%;
}

a {
    color: #008091;
}

h1 {
    font-size: 28px;
    padding-top: 2%;
    font-family: 'Poppins', sans-serif;
 }

 h2 {
     font-size: 18px;
     font-family: 'Poppins', sans-serif;
 }

 h3 {
     background-color: #A4C6EC;
     color: #008091;
     font-size: 38px;
     padding: 2%;
     font-family: 'Poppins', sans-serif;
  }

img {
    max-width: 100%;
    max-height:100%;
}

li {
    padding: 5px;
    padding-right: 10px;
}

.section {
    
    padding-right: 5%;
    padding-left: 5%;
}

.section-color {
    background-color: #A4C6EC;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
}


img.icon {
  max-height: 300px;
  max-width: 100px;
}

img.sketch {
    max-width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}


.row-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  flex: 50%;
}

.guide {
    width: 90%;
    padding: 5%;
}


@media (max-width: 1000px){
    .row{
        flex-wrap: wrap;
    }

}